<svg
  role="img"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
  aria-labelledby="chatAddIconTitle"
  {{#if class}}class="{{class}}"{{/if}}
>
  <title id="chatAddIconTitle">{{ifNotDefined title "Add comment"}}</title>
  
  <path d="M21 4V17H13L7 21V17H3V4H21Z"></path>
  <path d="M15 10H9"></path>
  <path d="M12 7V13"></path>
</svg>