<svg
  role="img"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
  aria-labelledby="exploreIconTitle"
  {{#if class}}class="{{class}}"{{/if}}
>
  <title id="exploreIconTitle">{{ifNotDefined title "Explore"}}</title>
  
  <polygon points="14.121 14.121 7.05 16.95 9.879 9.879 16.95 7.05"></polygon>
  <circle cx="12" cy="12" r="10"></circle>
</svg>