<svg
  role="img"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
  aria-labelledby="playIconTitle"
  {{#if class}}class="{{class}}"{{/if}}
>
  <title id="playIconTitle">{{ifNotDefined title "Play"}}</title>
  
  <path d="M20 12L5 21V3z"></path>
</svg>