<svg
  role="img"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
  aria-labelledby="timeIconTitle"
  {{#if class}}class="{{class}}"{{/if}}
>
  <title id="timeIconTitle">{{ifNotDefined title "Time"}}</title>
  
  <circle cx="12" cy="12" r="10"></circle>
  <polyline points="12 5 12 12 16 16"></polyline>
</svg>