*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
  background-color: #fff;
}

.header {
  text-align: center;
  margin-bottom: 1em;
  color: #bbb;
}

.user-block {
  margin-bottom: 3em;
}

.client-block {
  display: flex;
  align-items: stretch;
  margin-bottom: 3em;
}

.client-block-column {
  flex: 1 1 50%;
  display: flex;
  flex-flow: column nowrap;
}

/*=========================*\
||    Line Item General    ||
\*=========================*/

.line-items-table {
  width: 100%;
}

.line-items-table td {
  padding: 0.25em 1em;
  vertical-align: top;
}

.line-items-table thead td {
  border-bottom: 2px solid #000;
  font-weight: bold;
  text-transform: uppercase;
}

.line-items-table tbody td {
  padding-top: 0.5em;
}

.table-label {
  font-weight: bold;
  padding-right: 1em;
}

/*=========================*\
||   Line Item Specifics   ||
\*=========================*/

.item-time {
  white-space: nowrap;
}

.item-comments-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-comment {
  display: flex;
  flex-flow: row nowrap;
}

.item-comment:before {
  content: '';
  display: inline-block;

  margin-top: calc(0.5em - 1px);

  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #ccc;

  margin-right: 0.7em;
}

/*=========================*\
||  Total Fees & Expenses  ||
\*=========================*/

.totals {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 3em;
}