{{> ui/nav-tabs }}

{{!-- <div class="main__nav-breadcrumbs">
  <div class="nav-breadcrumbs">
    <a href="/menu">Menu</a>
    <div class="divider"></div>
    <a href="/punch/{{punchId}}">Punch</a>
    <div class="divider"></div>
    <span>Delete Comment</span>
  </div>
</div> --}}

<div class="comment-delete page">
  <div class="container">
    <p>Really delete comment?</p>

    <form method="post">
      {{> ui/button title="Yes, Delete" style="pill" }}
    </form>
  </div>
</div>