{{> ui/nav-header title="Delete Comment" }}

<div class="comment-delete page">
  <p>Really delete comment?</p>

  <form method="post">
    {{> ui/button title="Yes, Delete" style="pill" }}
  </form>
</div>