{{> ui/nav-tabs }}

{{!-- <div class="main__nav-breadcrumbs">
  <div class="nav-breadcrumbs">
    <a href="/menu">Menu</a>
    <div class="divider"></div>
    <a href="/punch/{{punchId}}">Punch</a>
    <div class="divider"></div>
    <span>Edit Comment</span>
  </div>
</div> --}}

<div class="comment-edit page">
  <div class="container">
    <form method="post" action="/punch/{{punchId}}/comment/{{commentId}}/edit">
      <textarea class="text-area" name="comment">{{{comment}}}</textarea>
      
      <div>
        <input type="checkbox" name="keepTimestamp" checked>
        <label for="keepTimestamp">Keep original timestamp</label>
      </div>
      
      <button class="button -pill -wide">
        {{> icons/chat-add class="button__icon" title="Save comment" }}
        <span>Save Comment</span>
      </button>
    </form>
  </div>
</div>