<h1>Edit Comment</h1>

<form method="post" action="/punch/{{punchId}}/comment/{{commentId}}/edit">
  <textarea name="comment">{{{comment}}}</textarea>
  <div>
    <input type="checkbox" name="keepTimestamp" checked>
    <label for="keepTimestamp">Keep original timestamp</label>
  </div>
  
  <input type="submit" value="Save Comment">
</form>