{{> ui/nav-header title="Edit Comment" }}

<div class="comment-edit page">
  <form method="post" action="/punch/{{punchId}}/comment/{{commentId}}/edit">
    <textarea class="text-area" name="comment">{{{comment}}}</textarea>
    <div>
      <input type="checkbox" name="keepTimestamp" checked>
      <label for="keepTimestamp">Keep original timestamp</label>
    </div>
    
    {{> ui/button title="Save Comment"
                  style="pill" }}
  </form>
</div>