{{> ui/nav-tabs }}

{{!-- <div class="main__nav-breadcrumbs">
  <div class="nav-breadcrumbs">
    <a href="/menu">Menu</a>
    <div class="divider"></div>
    <a href="/punch/{{punchId}}">Punch</a>
    <div class="divider"></div>
    <span>Add Comment</span>
  </div>
</div> --}}

<div class="punch-new-comment page">
  <header>
    <h1>Add Comment</h1>
  </header>

  <div class="container">
    <form method="post">
      <div class="subsection">
        <textarea autofocus="autofocus" class="text-area" name="comment"></textarea>
      </div>

      <button class="button -pill -wide">
        {{> icons/chat-add class="button__icon" title="Save comment" }}
        <span>Save Comment</span>
      </button>
    </form>
  </div>
</div>