<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    
    <title>Punch</title>

    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/turbolinks.min.js"></script>
    <script defer src="/js/ticker.js"></script>
    <script defer src="/js/clock.js"></script>
    <script defer src="/js/clock-header.js"></script>
  </head>
  <body>
    <main>
      {{{ body }}}
    </main>

    {{#if messages}}
    <ul class="unstyled flash-messages">
      {{#if messages.error}}
        {{#each messages.error}}
          <li class="message--error">
            {{.}}
          </li>
        {{/each}}
      {{/if}}

      {{#if messages.success}}
        {{#each messages.success}}
          <li class="message--success">
            {{.}}
          </li>
        {{/each}}
      {{/if}}

      {{#if messages.info}}
        {{#each messages.info}}
          <li class="message--info">
            {{.}}
          </li>
        {{/each}}
      {{/if}}
    </ul>
    {{/if}}
  </body>
</html>