{{> ui/nav-tabs selected="punch-in" }}

<div class="punch-in-confirm page">
  <div class="container">
    <form method="post">
      <header>
        <h2>Punch in on<br><strong style="color: {{projectColor project}}">{{project.name}}</strong></h2>
      </header>

      <div class="subsection">
        {{#if activePunch}}
          ALREADY PUNCHED IN
        {{else}}
          <div class="form-group">
            <details class="details">
              <summary>Custom timestamp</summary>

              <div class="details__content">
                <div class="form-group">
                  <div class="checkbox">
                    <input id="custom-timestamp" name="custom-timestamp" type="checkbox">
                    <label for="custom-timestamp"></label>
                    <label for="custom-timestamp">Use custom timestamp</label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="datetime-input">
                    {{> date-input id="start-date" name="start-date" value=defaultDate }}
                    {{> time-input id="start-time" name="start-time" value=defaultTime }}
                  </div>
                </div>
              </div>
            </details>
          </div>
          <button class="button -pill">
            {{> icons/play class="button__icon" title="Punch in icon"}}
            <span>Punch In</span>
          </button>
        {{/if}}
      </div>
    </form>
  </div>
</div>