<div class="punch-in page">
  <div class="page__nav-breadcrumbs">
    <div class="nav-breadcrumbs">
      <a href="/menu">Menu</a>
      <div class="divider"></div>
      <span>Punch In</span>
    </div>
  </div>

  <div class="container">
    <form method="post">
      <div class="subsection">
        <header>
          <span>Project</span>
        </header>

        <div class="dropdown">
          <select name="project">
            {{#each projects}}
              <option value="{{alias}}">{{name}}</option>
            {{/each}}
          </select>
          <svg class="dropdown__icon">
            <title>Dropdown indicator</title>
            <use xlink:href="/icons/ikonate.svg#sorting">
          </svg>
        </div>
      </div>

      <button class="button button--pill">
        <svg class="button__icon">
          <title>Punch in</title>
          <use xlink:href="/icons/ikonate.svg#plus"></use>
        </svg>
        <span>Punch In</span>
      </button>
    </form>
  </div>
</div>