{{> ui/nav-header title="Punch Out" href=returnUrl }}

<div class="punch-out page">
  <form method="post">
    <div class="subsection">
      <header>
        <label for="timestamp">Timestamp</label>
      </header>
      <input type="checkbox" name="useCustomTimestamp">
      <label for="useCustomTimestamp">Use custom timestamp</label><br>

      <input class="text-input" type="text" name="timestamp" value="{{outTime}}">
    </div>

    <div class="subsection">
      <header>
        <label for="comment">Comment (optional)</label>
      </header>
      <textarea class="text-area punch-out__comment" name="comment"></textarea>
    </div>

    <button class="button button--pill">
      <svg class="button__icon">
        <title>Punch out</title>
        <use xlink:href="/icons/ikonate.svg#stopwatch"></use>
      </svg>
      <span>Punch Out</span>
    </button>
  </form>
</div>