{{> ui/nav-tabs }}

{{!-- <div class="main__nav-breadcrumbs">
  <div class="nav-breadcrumbs">
    <a href="/menu">Menu</a>
    <div class="divider"></div>
    <a href="/punch/{{id}}">Punch</a>
    <div class="divider"></div>
    <span>Out</span>
  </div>
</div> --}}

<div class="punch-out page" style="--project-accent: {{projectColor project}}">
  <header>
    <h1>Punch out of <strong style="color: var(--project-accent)">{{project.name}}</strong></h1>
  </header>

  <div class="container">
    <form method="post">
      <div class="form-group">
        <label for="comment">Comment (optional)</label>
        <textarea autofocus class="text-area punch-out__comment" name="comment"></textarea>
      </div>

      <div class="form-group">
        <details class="details">
          <summary>Custom timestamp</summary>

          <div class="details__content">
            <div class="form-group">
              <div class="checkbox">
                <input id="custom-timestamp" name="custom-timestamp" type="checkbox">
                <label for="custom-timestamp"></label>
                <label for="custom-timestamp">Use custom timestamp</label>
              </div>
            </div>

            <div class="form-group">
              <header>
                <label>Started At</label>
              </header>
              
              <span>{{startTimeLabel}}</span>
            </div>

            <div class="form-group">
              <header>
                <label>End At</label>
              </header>
              <div class="datetime-input">
                {{> date-input id="end-date" name="end-date" value=defaultDate }}
                {{> time-input id="end-time" name="end-time" value=defaultTime }}
              </div>
            </div>
          </div>
        </details>
      </div>

      <button class="button -pill -wide" style="background-color: var(--project-accent)">
        {{> icons/stop class="button__icon" title="Punch out icon" }}
        <span>Punch Out</span>
      </button>
    </form>
  </div>
</div>