<div class="section-summary{{#if small}} section-summary--small{{/if}}">
  <span class="section-summary__duration">
    {{formatDurationMs duration resolution="hours" short=true}}
  </span>
  <span class="section-summary__earnings">
    {{#if earnings}}
    {{formatCurrency earnings}}
    {{/if}}
  </span>
</div>