<div class="login page">
  <div class="login-container">
    <h1>Log In</h1>

    <form method="post">
      <input type="hidden" name="username" value="_">
      
      <div class="login-password-field">
        <input type="password"
               class="text-input"
               name="password"
               placeholder="Password"
               required>
        <button class="login-button">
          <span>Log In</span>
        </button>
      </div>
    </form>
  </div>
</div>