<h1>{{client.name}}</h1>

{{#with current}}
  {{#if any}}
    <h3>Active Punches</h3>
    <ul>
    {{#each punches}}
      <li>{{> activePunch . }}</li>
    {{/each}}
    </ul>
  {{/if}}
{{/with}}

<h3>Projects</h3>
<ul>
  {{#each projects}}
    <li><a href="/projects/{{alias}}">{{ name }}</a></li>
  {{/each}}
</ul>

<h3>Stuff That Goes On This Page</h3>
<ul>
  <li>Currently active sessions on projects for this client</li>
  <li>List of projects for this client (with links to project pages)</li>
  <li>Work summary for combined projects for the client</li>
</ul>