<div class="punch-delete page">
  <div class="page__nav-breadcrumbs">
    <div class="nav-breadcrumbs">
      <a href="/menu">Menu</a>
      <div class="divider"></div>
      <a href="/punch/{{id}}">Punch</a>
      <div class="divider"></div>
      <span>Delete</span>
    </div>
  </div>

  <div class="container">
    <section>
      <header>
        <h2>Delete Punch</h2>
      </header>

      <p>Really delete punch?</p>

      <form method="post">
        <input type="submit" value="Yes, Delete">
      </form>
    </section>
    
  </div>
</div>
