<div class="menu page">
  <div class="page__nav-breadcrumbs">
    <div class="nav-breadcrumbs">
      <span>Menu</span>
    </div>
  </div>

  <nav class="main-menu">
    <ul class="unstyled">
      <li>
        {{> menu/item title="Dashboard" href="/dashboard" icon="activity" }}
      </li>
      <li>
        {{> menu/item title="Projects" href="/projects" icon="activity" }}
      </li>
      <li>
        {{> menu/item title="Clients" href="/clients" icon="activity" }}
      </li>
      <li>
        {{> menu/item title="Log" href="/log" icon="activity" }}
      </li>
      <li>
        {{> menu/item title="Invoices" href="/invoices" icon="dolar" }}
      </li>
      <li>
        {{> menu/item title="Config" href="/config" icon="activity" }}
      </li>
    </ul>
  </nav>
</div>