<div class="menu page">
  <div class="page__nav-breadcrumbs">
    <div class="nav-breadcrumbs">
      <span>Menu</span>
    </div>
  </div>

  <nav class="main-menu">
    {{> menu/menu }}
  </nav>
</div>