<ul class="unstyled working-days">
  <li {{#if (includes . 0)}}class="-selected"{{/if}}><span>S</span></li>
  <li {{#if (includes . 1)}}class="-selected"{{/if}}><span>M</span></li>
  <li {{#if (includes . 2)}}class="-selected"{{/if}}><span>T</span></li>
  <li {{#if (includes . 3)}}class="-selected"{{/if}}><span>W</span></li>
  <li {{#if (includes . 4)}}class="-selected"{{/if}}><span>T</span></li>
  <li {{#if (includes . 5)}}class="-selected"{{/if}}><span>F</span></li>
  <li {{#if (includes . 6)}}class="-selected"{{/if}}><span>S</span></li>
</ul>