{{> ui/nav-tabs selected="log" }}

<div class="log-tags page">
  <div class="container">
    <section>
      <header>
        <h2>All Tags</h2>
      </header>
      <ul class="log-tags__tag-list">
        {{#each tags}}
          <li><a href="{{url}}">{{label}}</a></li>
        {{/each}}
      </ul>
    </section>
  </div>
</div>



