<h1>Clients</h1>

<ul>
  {{#each clients}}
    <li><a href="/clients/{{name}}">{{name}}</a></li>
  {{/each}}
</ul>

<h2>Notes</h2>

<h3>What goes on this page</h3>
<ul>
  <li>List of all clients (clients with active projects marked or at top)</li>
  <li>A way to add a new client</li>
</ul>