{{> ui/nav-tabs selected="clients" }}

<div class="clients-index page">
  <div class="container">
    <section>
      <header>
        <h2>Clients</h2>
      </header>

      <ul class="clients-index__list unstyled">
        {{#each clients}}
          <li>{{> client-link . }}</li>
        {{/each}}
      </ul>
    </section>
  </div>
</div>
