<button class="button button--{{ifNotDefined style "default"}}">
  {{#if icon}}
  <svg class="button__icon">
    <title>{{ifNotDefined iconTitle icon}}</title>
    <use xlink:href="/icons/ikonate.svg#{{icon}}"></use>
  </svg>
  {{/if}}
  <span>{{title}}</span>
</button>