<header class="nav-header">
  <nav>
    <a href="{{ifNotDefined href "/menu"}}">
      <div class="nav-header__back-icon">
        <svg>
          <title>Back Arrow</title>
          <use xlink:href="/icons/ikonate.svg#arrow-left"></use>
        </svg>
      </div>
    </a>
  </nav>

  <h1>{{title}}</h1>
</header>
