<nav class="nav-tabs">
  <ul class="unstyled">
    <li class="nav-tabs__punch-in">
      <a href="/punch/in" class="nav-punch-in">
        {{> icons/play class="nav-punch-in__icon" title="Punch in" }}
        <span>
          Punch In
        </span>
      </a>
    </li>
    <li>
      <a href="/dashboard" class="nav-tab-item {{#if (areEqual "dashboard" selected)}}-selected{{/if}}">
        {{> icons/explore class="nav-tab-item__icon" title="Dashboard" }}
        <span>
          Dashboard
        </span>
      </a>
    </li>
    <li>
      <a href="/projects" class="nav-tab-item {{#if (areEqual "projects" selected)}}-selected{{/if}}">
        {{> icons/notebook class="nav-tab-item__icon" title="Projects" }}
        <span>
          Projects
        </span>
      </a>
    </li>
    <li>
      <a href="/clients" class="nav-tab-item {{#if (areEqual "clients" selected)}}-selected{{/if}}">
        {{> icons/person class="nav-tab-item__icon" title="Clients" }}
        <span>
          Clients
        </span>
      </a>
    </li>
    <li>
      <a href="/log" class="nav-tab-item {{#if (areEqual "log" selected)}}-selected{{/if}}">
        {{> icons/history class="nav-tab-item__icon" title="Punch log" }}
        <span>
          Log
        </span>
      </a>
    </li>
    {{!-- <li>
      <a href="/invoices" class="nav-tab-item {{#if (areEqual "invoices" selected)}}-selected{{/if}}">
        {{> icons/dollar class="nav-tab-item__icon" title="Invoices" }}
        <span>
          Log
        </span>
      </a>
    </li>
    <li>
      <a href="/config" class="nav-tab-item {{#if (areEqual "config" selected)}}-selected{{/if}}">
        {{> icons/settings class="nav-tab-item__icon" title="Configuration" }}
        <span>
          Config
        </span>
      </a>
    </li> --}}
  </ul>
</nav>