<header class="nav-header">
  <nav>
    <a href="{{ifNotDefined href "/menu"}}">
      <div class="nav-header__back-icon">
        {{> icons/chevron-left title="Back Arrow" }}
      </div>
    </a>
  </nav>

  <h1>{{title}}</h1>
</header>
