<a href="{{href}}" class="nav-tab-item {{#if selected}}-selected{{/if}}">
  <svg class="nav-tab-item__icon">
    <title>{{icon}}</title>
    <use xlink:href="/icons/ikonate.svg#{{icon}}">
  </svg>
  <span>
    {{title}}
  </span>
</a>