<nav class="nav-tabs">
  <ul class="unstyled">
    <li class="nav-tabs__punch-in">
      <a href="/punch/in" class="nav-punch-in">
        <svg class="nav-punch-in__icon">
          <title>Punch in</title>
          <use xlink:href="/icons/ikonate.svg#play">
        </svg>
        <span>
          Punch In
        </span>
      </a>
    </li>
    <li>
      {{> ui/nav-tab-item selected=(areEqual "dashboard" selected)
                          title="Dashboard"
                          href="/dashboard"
                          icon="explore" }}
    </li>
    <li>
      {{> ui/nav-tab-item selected=(areEqual "projects" selected)
                          title="Projects"
                          href="/projects"
                          icon="notebook" }}
    </li>
    <li>
      {{> ui/nav-tab-item selected=(areEqual "clients" selected)
                          title="Clients"
                          href="/clients"
                          icon="person" }}
    </li>
    <li>
      {{> ui/nav-tab-item selected=(areEqual "log" selected)
                          title="Log"
                          href="/log"
                          icon="history" }}
    </li>
    {{!-- <li>
      {{> ui/nav-tab-item selected=(areEqual "invoices" selected)
                          title="Invoices"
                          href="/invoices"
                          icon="dolar" }}
    </li>
    <li>
      {{> ui/nav-tab-item selected=(areEqual "config" selected)
                          title="Config"
                          href="/config"
                          icon="settings" }}
    </li> --}}
  </ul>
</nav>