<div class="dashboard page">
  <div class="page__nav-breadcrumbs">
    <div class="nav-breadcrumbs">
      <a href="/menu">Menu</a>
      <div class="divider"></div>
      <span>Dashboard</span>
    </div>
  </div>

  <div class="section-row">
    <section>
      <header>
        <h1>Now</h1>
      </header>

      {{#with current}}
        {{#if any}}
          <ul class="active-punches unstyled">
          {{#each punches}}
            <li>{{> active-punch . }}</li>
          {{/each}}
          </ul>
        {{else}}
          <span class="no-active-punches">No active punches</span>
        {{/if}}
      {{/with}}

      <a href="/punch/in?r=/" class="button button--pill">
        <svg class="button__icon">
          <title>Start</title>
          <use xlink:href="/icons/ikonate.svg#plus"></use>
        </svg>
        <span>Punch In</span>
      </a>
    </section>

    <div class="clock-header">
      <span class="clock-header__date">
        Mon, Feb 3
      </span>
      <span class="clock-header__time">
        10:11 PM
      </span>
    </div>
  </div>

  <div class="section-row collapse-dir-reverse">
    <section>
      <header>
        <h1>Today</h1>
      </header>

      {{#with summaries.today}}
        <div class="subsection">
          {{> dashboard/section-summary . }}
        </div>

        <div class="subsection">
          <header>
            <span>By Project</span>
          </header>

          {{> dashboard/projects-summary . }}
        </div>

        <div class="subsection">
          <header>
            <span>Punches</span>
          </header>

          {{> punch-list punches=punches }}
        </div>
      {{/with}}
    </section>

    <section>
      <header>
        <h1>Yesterday</h1>
      </header>

      {{#with summaries.yesterday}}
        <div class="subsection">
          {{> dashboard/section-summary . }}
        </div>

        <div class="subsection">
          <header>
            <span>By Project</span>
          </header>

          {{> dashboard/projects-summary . }}
        </div>

        <div class="subsection">
          <header>
            <span>Punches</span>
          </header>

          {{> punch-list punches=punches }}
        </div>
      {{/with}}
    </section>
  </div>

  <div class="section-row collapse-dir-reverse">
    <section>
      <header>
        <h1>This Week</h1>
      </header>

      {{#with summaries.thisWeek}}
        <div class="subsection">
          {{> dashboard/section-summary . }}
        </div>

        <div class="subsection">
          <header>
            <span>Daily Average</span>
          </header>

          {{> dashboard/section-summary dailyAverage small=true }}
        </div>

        <div class="subsection">
          <header>
            <span>By Project</span>
          </header>

          {{> dashboard/projects-summary . }}
        </div>
      {{/with}}
    </section>

    <section>
      <header>
        <h1>Last Week</h1>
      </header>

      {{#with summaries.lastWeek}}
        <div class="subsection">
          {{> dashboard/section-summary . }}
        </div>

        <div class="subsection">
          <header>
            <span>Daily Average</span>
          </header>

          {{> dashboard/section-summary dailyAverage small=true }}
        </div>

        <div class="subsection">
          <header>
            <span>By Project</span>
          </header>

          {{> dashboard/projects-summary . }}
        </div>
      {{/with}}
    </section>
  </div>

  <div class="section-row collapse-dir-reverse">
    <section>
      <header>
        <h1>This Month</h1>
      </header>

      {{#with summaries.thisMonth}}
        <div class="subsection">
          {{> dashboard/section-summary . }}
        </div>

        <div class="subsection">
          <header>
            <span>Weekly Average</span>
          </header>

          {{> dashboard/section-summary weeklyAverage small=true }}
        </div>

        <div class="subsection">
          <header>
            <span>By Project</span>
          </header>

          {{> dashboard/projects-summary . }}
        </div>
      {{/with}}
    </section>

    <section>
      <header>
        <h1>Last Month</h1>
      </header>

      {{#with summaries.lastMonth}}
        <div class="subsection">
          {{> dashboard/section-summary . }}
        </div>

        <div class="subsection">
          <header>
            <span>Weekly Average</span>
          </header>

          {{> dashboard/section-summary weeklyAverage small=true }}
        </div>

        <div class="subsection">
          <header>
            <span>By Project</span>
          </header>

          {{> dashboard/projects-summary . }}
        </div>
      {{/with}}
    </section>
  </div>
  
</div>