{{> ui/nav-tabs selected="dashboard" }}

<div class="dashboard page">
  <div class="section-row">
    <section class="dashboard__card">
      <header>
        <h1>Now</h1>
      </header>

      {{#with current}}
        {{#if any}}
          <ul class="active-punches unstyled">
          {{#each punches}}
            <li>{{> active-punch . }}</li>
          {{/each}}
          </ul>
        {{else}}
          <span class="no-active-punches">No active punches</span>
        {{/if}}
      {{/with}}

      <a href="/punch/in?r=/" class="button -pill">
        {{> icons/play class="button__icon" title="Punch in icon" }}
        <span>Punch In</span>
      </a>
    </section>

    <div class="clock-header">
      <span class="clock-header__date">
        {{dateLabel}}
      </span>
      <span class="clock-header__time">
        {{timeLabel}}
      </span>
    </div>
  </div>

  <div class="section-row collapse-dir-reverse">
    {{> dashboard/card summaries.today title="Today" emptyMessageKey="no-sessions-today" }}
    {{> dashboard/card summaries.yesterday title="Yesterday" emptyMessageKey="no-sessions-yesterday" }}
  </div>

  <div class="section-row collapse-dir-reverse">
    {{> dashboard/card summaries.thisWeek title="This Week" }}
    {{> dashboard/card summaries.lastWeek title="Last Week" }}
  </div>

  <div class="section-row collapse-dir-reverse">
    {{> dashboard/card summaries.thisMonth title="This Month" }}
    {{> dashboard/card summaries.lastMonth title="Last Month" }}
  </div>
  
</div>