/*====================================*\
||               Resets               ||
\*====================================*/

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: var(--font-family);
}

/*====================================*\
||               Fonts                ||
\*====================================*/

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: local("Rubik Light"), local("Rubik-Light"),
    url(/fonts/Rubik/Rubik-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"),
    url(/fonts/Rubik/Rubik-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local("Rubik Bold"), local("Rubik-Bold"),
    url(/fonts/Rubik/Rubik-Bold.ttf) format("truetype");
}

/*====================================*\
||            Base Styles             ||
\*====================================*/

body {
  --system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --font-family: "Rubik", Helvetica, sans-serif;

  --roundness: 0;

  --page-padding: 0;
  --container-padding: 1.4em;

  --container-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* Default light scheme colors */

  --color-blue: #64b7f3;
  --color-cyan: #82c6d4;
  /* --color-gray: #d3d6d9; */
  --color-gray: #949aa0;
  --color-green: #82d49e;
  --color-magenta: #db6fdf;
  --color-red: #d64b64;
  --color-yellow: #e2ab79;

  --background-color: #f4f4f8;
  --content-background-color: #fff;
  --text-color: #000;
  --border-color: #d3d6d9;

  --navbar-color: var(--background-color);
  --navbar-text-inactive-color: #555;
  --navbar-icon-inactive-color: #555;
  --navbar-text-active-color: #000;
  --navbar-icon-active-color: #000;
  --navbar-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

  --navbar-punch-in-button-color: var(--color-blue);
  --navbar-punch-in-button-text-color: #fff;
  --navbar-punch-in-button-icon-color: #fff;

  --button-color: #444e5a;
  --button-color--danger: var(--color-red);
  --button-text-color: #fff;

  --text-input-bg-color: #fff;
  --text-input-text-color: #000;
  --text-input-border-color: #000;
  --text-input-placeholder-color: #969aa5;
  --text-input-border-color-focus: var(--color-blue);

  --card-color: #e1e5e9;

  font-family: var(--font-family);
  font-size: 16px; /* Base is 16px - other elements use rem or em. */
  text-rendering: geometricPrecision;
  background-color: var(--background-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  body {
    /* Override for dark scheme if browser supports it */

    --container-shadow: 0 4px 7px rgba(10, 17, 26, 0.5);

    --color-blue: #5ba7ff;
    --color-cyan: #86d6ef;
    --color-gray: #9aafc5;
    --color-green: #7ef3bb;
    --color-magenta: #e657c7;
    --color-red: #eb516d;
    --color-yellow: #f4bb78;

    --background-color: #0d1722;
    --content-background-color: #1a2e42; /* #122232 */
    --text-color: #fff;
    --border-color: #6081a1;

    --navbar-color: #0d1722;
    --navbar-text-inactive-color: #eee;
    --navbar-icon-inactive-color: #eee;
    --navbar-text-active-color: #fff;
    --navbar-icon-active-color: #fff;
    --navbar-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

    --navbar-punch-in-button-color: var(--color-blue);
    --navbar-punch-in-button-text-color: #fff;
    --navbar-punch-in-button-icon-color: #fff;

    --button-color: #37516b;
    --button-color--danger: var(--color-red);
    --button-text-color: #fff;

    --text-input-bg-color: var(--content-background-color);
    --text-input-text-color: #fff;
    --text-input-border-color: var(--border-color);
    --text-input-placeholder-color: #5b6f9c;
    --text-input-border-color-focus: var(--color-blue);

    --card-color: #2a3b4b;
  }
}

@media (min-width: 800px) {
  body {
    --page-padding: 1em;
    --container-padding: 1.4em;
  }
}

input {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  /* text-rendering: geometricPrecision; */
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1em;
}

ul.unstyled,
ol.unstyled {
  list-style: none;
}

/* ----- Text Color Classes ----- */

.color-blue {
  color: var(--color-blue);
}

.color-cyan {
  color: var(--color-cyan);
}

.color-gray {
  color: var(--color-gray);
}

.color-green {
  color: var(--color-green);
}

.color-magenta {
  color: var(--color-magenta);
}

.color-red {
  color: var(--color-red);
}

.color-yellow {
  color: var(--color-yellow);
}

/* ----- Background Color / Fill Classes ----- */

.fill-blue {
  background-color: var(--color-blue);
}

.fill-cyan {
  background-color: var(--color-cyan);
}

.fill-gray {
  background-color: var(--color-gray);
}

.fill-green {
  background-color: var(--color-green);
}

.fill-magenta {
  background-color: var(--color-magenta);
}

.fill-red {
  background-color: var(--color-red);
}

.fill-yellow {
  background-color: var(--color-yellow);
}

/* ----- Font Style Classes ----- */

.font-light {
  font-weight: lighter;
}

.font-regular {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

/*====================================*\
||               Layout               ||
\*====================================*/

.turbolinks-progress-bar {
  position: fixed;
  top: 0;
  height: 3px;
  z-index: 10000;
  background-color: #f4bb78;
}

/* ----- Layout ----- */

main {
  /* display: flex; */
  /* flex-flow: column nowrap; */
  padding-bottom: 2em;
}

/* ----- Main Nav ----- */

.nav-tabs {
  flex: 0 0 42px;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  max-width: 100vw;

  overflow-y: hidden;
  background-color: var(--navbar-color);

  border-bottom: 1px solid var(--border-color);
}

.nav-tabs > ul {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  overflow-x: scroll;
}

.nav-tab-item {
  opacity: 0.5;
  text-decoration: none;
  color: var(--navbar-text-inactive-color);
  padding: 0.5em 0.75em;

  font-weight: bold;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-right: 1.1em;

  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;

  white-space: nowrap;
}

.nav-tab-item__icon {
  width: 1.4em;
  height: 1.4em;
  fill: none;
  stroke: var(--navbar-icon-inactive-color);
  margin-right: 0.3em;
  stroke-width: 2;
}

.nav-tab-item.-selected {
  position: relative;
  color: var(--navbar-text-active-color);
  /* border-bottom: 2px solid var(--navbar-text-active-color); */
  opacity: 1;
}

.nav-tab-item.-selected::after {
  content: "";
  opacity: 0.15;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: var(--active-color); */
}

.nav-tab-item.-selected .nav-tab-item__icon {
  stroke: var(--navbar-icon-active-color);
}

/*----- Punch In Button -----*/

.nav-punch-in {
  padding: 0.5em 0.75em;
  padding-right: 1.1em;

  text-decoration: none;
  color: var(--navbar-text-inactive-color);

  font-weight: bold;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;

  white-space: nowrap;

  background-color: var(--navbar-punch-in-button-color);
  color: var(--navbar-punch-in-button-text-color);
}

.nav-punch-in__icon {
  width: 1.4em;
  height: 1.4em;
  fill: none;
  stroke: var(--navbar-punch-in-button-icon-color);
  margin-right: 0.3em;
  stroke-width: 2;
}

@media (min-width: 800px) {
  .nav-tabs > ul {
    margin: 0 auto;
    max-width: 900px;
    justify-content: flex-start;
    overflow: hidden;
  }
}

/* ----- Page ----- */

.page {
  max-width: 900px;
  margin: 0 auto;
}

.page > .container {
  margin: 0 auto;
  border-radius: calc(16px * var(--roundness));
  padding: var(--container-padding);
  background-color: var(--content-background-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.page > .container:not(:last-of-type) {
  margin-bottom: 1em;
}

@media (min-width: 900px) {
  .page > .container {
    border: 1px solid var(--border-color);
  }
}

/* ----- Section ----- */

.page section {
  margin-bottom: 1em;
}

.page section > header {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1.2em;
}

.page section > header h1 {
  padding-bottom: 0.1em;
}

.page section > header h2 {
  padding-bottom: 0.1em;
}

.page section > header h3 {
  padding-bottom: 0.1em;
}

.page section > header h4 {
  padding-bottom: 0.2em;
}

.page .section-row {
  display: flex;
  flex-flow: column nowrap;
}

.page .section-row section {
  border-radius: calc(16px * var(--roundness));
  /* border-radius: 5px; */
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--content-background-color);
  /* box-shadow: var(--container-shadow); */

  padding: var(--container-padding);
}

@media (min-width: 800px) {
  .page {
    padding-top: 2em;
  }

  .page .section-row {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .page .section-row section {
    width: calc(50% - var(--page-padding) / 2);
    border: 1px solid var(--border-color);
  }

  .section-row.collapse-dir-reverse {
    flex-flow: row-reverse nowrap;
  }
}

/* ----- Subsection ----- */

.subsection {
  margin-bottom: 1.2em;
}

.subsection > header {
  margin-bottom: 0.3em;
}

/*====================================*\
||                Forms               ||
\*====================================*/

.form-group {
  margin-bottom: 1em;
  display: flex;
  flex-flow: column nowrap;
}

.form-group > header {
  margin-bottom: 0.75em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid var(--border-color);
}

.form-group > label {
  margin-bottom: 0.25em;
}

.form-group > input {
}

.form-group > .form-group__description {
}

/*====================================*\
||         Reusable Components        ||
\*====================================*/

/* ----- Buttons ----- */

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;

  border-radius: calc(3px * var(--roundness));
  padding: 0 0.9em;
  height: 40px;
  line-height: 40px;

  display: inline-flex;
  align-items: center;
  text-decoration: none;

  background-color: var(--button-color);
  color: var(--button-text-color);
}

.button--danger,
.button.-danger {
  background-color: var(--button-color--danger);
}

.button--pill,
.button.-pill {
  /* 50% radius doesn't work with rectangular elements */
  /* border-radius: calc(999px * var(--roundness)); */
  border-radius: 9999px;
}

.button--hollow,
.button.-hollow {
  background-color: transparent;
  border: 2px solid var(--border-color);
}

.button__icon {
  width: 26px;
  height: 26px;
  stroke: var(--button-text-color);
  fill: none;
  stroke-width: 1.4;
  margin-right: 0.5em;
}

.button.-small {
  height: 33px;
  line-height: 33px;
  /* font-size: 0.9em; */
  padding: 0 0.7em;
}

.button.-small .button__icon {
  width: 20px;
  height: 20px;
  stroke-width: 2;
  margin-right: 0.4em;
}

.button.-tiny {
  height: 26px;
  line-height: 26px;
  padding: 0 0.6em;
  font-size: 0.9em;
}

.button.-tiny .button__icon {
  width: 18px;
  height: 18px;
  stroke-width: 2;
  margin-right: 0.3em;
}

.button.-wide {
  width: 100%;
  justify-content: center;
}

.button span {
  /* padding: 0 0.5em; */
}

/* ----- Checkbox ----- */

/**
 * Like so:
 *
 * <div class="checkbox">
 *   <input id="name" type="checkbox">
 *   <label for="name"></label>
 *   <label for="name>Optional text label</label>
 * </div>
 */

.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

.checkbox input[type="checkbox"] + label {
  width: 24px;
  height: 24px;
  background-color: var(--text-input-bg-color);
  border: 2px solid var(--text-input-border-color);
  cursor: pointer;
}

.checkbox input[type="checkbox"]:checked + label {
  background-color: var(--color-blue);
  border-color: #fff;
}

.checkbox input[type="checkbox"] + label + label {
  margin-left: 6px;
  font-weight: bold;
  cursor: pointer;
}

/* ----- Details ----- */

.details {
  border: 1px solid var(--border-color);
}

.details > summary {
  position: relative;
  padding: 0 1em;
  line-height: 34px;
  cursor: pointer;
}

.details > summary:hover:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--color-blue);
  opacity: 0.05;
}

.details[open] > summary {
  border-bottom: none;
}

.details__content {
  padding: 1em;
}

.details__content .form-group:last-child {
  margin: 0;
}

/* ----- Dropdown ----- */

.dropdown {
  font-family: var(--font-family);
  color: var(--text-color);
  /* background-color: var(--text-input-bg-color); */
  background-color: var(--content-background-color);
  border: 2px solid var(--text-color);
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: calc(3px * var(--roundness));
}

.dropdown:focus {
  outline: 4px solid orange;
}

.dropdown > select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 1em;
  height: 40px;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: transparent;
  flex: 1 1 100%;
}

.dropdown__icon {
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
  fill: none;
  stroke: var(--text-color);
}

/* ----- Text Input ----- */

.text-input {
  font-family: var(--font-family);
  color: var(--text-input-text-color);
  background-color: var(--text-input-bg-color);
  outline: none;
  border: 2px solid var(--text-input-border-color);
  font-size: 1em;
  border-radius: calc(3px * var(--roundness));
  padding: 0 0.5em;
  height: 34px;
  width: 100%;
}

.text-input::placeholder {
  color: var(--text-input-placeholder-color);
}

.text-input:focus {
  border: 2px solid var(--text-input-border-color-focus);
  outline: 0px solid transparent;
}

.text-input:invalid {
  border: 2px solid var(--color-red);
  /* outline: 3px solid orange; */
  outline: 0px solid transparent;
}

/* ----- Datetime Input ----- */

/* A container for a date input and a time input with responsive layout properties. */
.datetime-input {
  display: flex;
  flex-flow: column nowrap;
}

.datetime-input .date-input {
  margin-bottom: 0.75em;
}

@media (min-width: 900px) {
  .datetime-input {
    flex-flow: row nowrap;
  }

  .datetime-input .date-input {
    margin: 0;
    margin-right: 2em;
  }
}

/* ----- Date Input ----- */

.date-input {
  display: flex;
  align-items: flex-end;
}

.date-input .form-group {
  margin: 0;
}

.date-input > .form-group:not(:last-child) {
  margin-right: 1em;
}

.date-input__year,
.date-input__month,
.date-input__day {
  text-align: left;
}

.date-input__year {
  max-width: 9ex;
}

.date-input__month,
.date-input__day {
  max-width: 6ex;
}

/* ----- Time Input ----- */

.time-input {
  display: flex;
  align-items: flex-end;
}

.time-input .form-group {
  margin: 0;
}

.time-input__divider {
  padding: 0 0.3em;
  /* font-weight: bold; */
  line-height: 34px;
}

.time-input__hour,
.time-input__minute,
.time-input__second {
  padding: 0 0.5em;
  text-align: left;
  max-width: 6ex;
}

/* ----- Text Area ----- */

.text-area {
  font-family: var(--font-family);
  color: var(--text-color);
  outline: none;
  border: none;
  background-color: var(--text-input-bg-color);
  border: 2px solid var(--text-input-border-color);
  font-size: 1em;
  border-radius: calc(3px * var(--roundness));
  padding: 0.5em;
  width: 100%;
}

.text-area:focus {
  border: 2px solid var(--color-blue);
}

/* ----- Color Swatch ----- */

.color-swatch {
  display: flex;
  align-items: center;
}

.color-swatch__swatch {
  height: 20px;
  width: 20px;
  background-color: var(--color);
}

.color-swatch__label {
  margin-left: 0.5em;
}

/* ----- Active Punch ----- */

.active-punch {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-punch__title {
  font-weight: bold;
  font-size: 1.5em;
}

.active-punch__disclosure {
  width: 50px;
  display: flex;
  align-items: center;
}

.active-punch__disclosure svg {
  width: 50px;
  height: 50px;
  stroke: var(--border-color);
  fill: none;
  stroke-width: 1px;
}

/* ----- Projects Summary ----- */

.projects-summary {
  display: flex;
  align-items: stretch;
  padding: 0.4em 0;
}

.projects-summary__distribution {
  display: flex;
  flex-direction: column;
  width: 5px;
  margin-right: 0.9em;
}

.projects-summary__distribution > div {
  margin-top: 1px;
  margin-bottom: 1px;
  width: 100%;
}

.projects-summary__distribution > div:first-child {
  border-top-left-radius: calc(90px * var(--roundness));
  border-top-right-radius: calc(90px * var(--roundness));
  margin-top: 0;
}

.projects-summary__distribution > div:last-child {
  border-bottom-left-radius: calc(90px * var(--roundness));
  border-bottom-right-radius: calc(90px * var(--roundness));
  margin-bottom: 0;
}

.projects-summary__projects {
  padding: 0.1em 0;
}

.projects-summary__projects > li {
  display: flex;
  flex-direction: column;
}

.projects-summary__projects > li:not(:last-child) {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.projects-summary__project-name {
  font-weight: bold;
  margin-bottom: 0.15em;
}

/* ----- Project Link ----- */

.project-link {
  display: inline-flex;
  align-items: center;
  color: var(--project-accent);
  text-decoration: none;
  border-bottom: 2px dotted var(--project-accent);
}

/* ----- Project Card ----- */

.project-card {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--card-color);
  display: block;
  padding: 1em;
  border-radius: calc(8px * var(--roundness));
}

.project-card__title {
  font-weight: bold;
  font-size: 1.2em;
}

/* ----- Tag Link ----- */

.tag-link,
.tag-param-link,
.tag-label,
.tag-param-label {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  line-height: 1.1em;

  color: var(--text-color);
  border-bottom: 2px dotted var(--text-color);
}

.tag-link:hover,
.tag-param-link:hover {
  border-bottom: 2px solid var(--text-color);
}

.tag-param-link:before,
.tag-param-label:before {
  content: "[";
}

.tag-param-link:after,
.tag-param-label:after {
  content: "]";
}

/* ----- Tag Label ----- */

/* .tag-label,
.tag-param-label {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  line-height: 1.1em;

  color: var(--text-color);
} */

/* ----- Client Link ----- */

.client-link {
  display: inline-flex;
  align-items: center;
  color: var(--color-blue);
  text-decoration: none;
  border-bottom: 2px solid var(--color-blue);
}

/* ----- Client Card ----- */

.client-card {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--card-color);
  display: block;
  padding: 1em;
  border-radius: calc(8px * var(--roundness));
}

.client-card__name {
  font-weight: bold;
  font-size: 1.2em;
}

/* ----- Punch List ----- */

.punch-list {
}

.punch-list > li {
  margin: 2px 0;
  position: relative;
}

.punch-list > li > a {
  display: block;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: stretch;
}

.punch-list > li:not(:last-child) .punch-list__details {
  padding-bottom: 0.75em;
}

.punch-list > li:first-child {
  margin-top: 0;
}

.punch-list > li:first-child .punch-list__color-bar {
  border-top-left-radius: calc(90px * var(--roundness));
  border-top-right-radius: calc(90px * var(--roundness));
}

.punch-list > li:last-child {
  margin-bottom: 0;
}

.punch-list > li:last-child .punch-list__color-bar {
  border-bottom-left-radius: calc(90px * var(--roundness));
  border-bottom-right-radius: calc(90px * var(--roundness));
}

.punch-list__color-bar {
  width: 5px;
  margin-right: 0.9em;
  position: relative;
  background-color: var(--project-accent);

  --bracket-size: 11px;
}

/*.punch-list__color-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: var(--bracket-size) solid var(--project-accent);
  border-right: var(--bracket-size) solid transparent;
}*/
/*
.punch-list__color-bar::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: var(--bracket-size) solid var(--project-accent);
  border-right: var(--bracket-size) solid transparent;
}*/

.punch-list__details {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 100%;
  padding: 0.1em 0;
}

.punch-list__title {
  font-weight: bold;
  /* margin-top: 0.5em; */
  margin-bottom: 0.25em;
  color: var(--project-accent);
}

.punch-list__summary {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.punch-list__summary__times {
  font-weight: bold;
}

.punch-list__summary__stats {
}

.punch-list__comments {
  margin-top: 0.5em;
  /* font-size: 1em; */
}

.punch-list__comments > li {
  display: flex;
  flex-flow: column nowrap;
  position: relative;

  border: 1px solid var(--project-accent);
  border-radius: 12px;
  padding: 0.5em 0.75em;
}

.punch-list__comments > li > * {
  z-index: 1;
}

.punch-list__comments > li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--project-accent);
  opacity: 0.1;
  z-index: 0;
}

.punch-list__comments > li:not(:last-child) {
  margin-bottom: 0.5em;
}

.punch-list__comment-timestamp {
  margin-top: 0.5em;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 0.9em;

  color: var(--project-accent);
}

.punch-list__time-icon {
  width: 1em;
  height: 1em;
  fill: none;
  stroke: var(--project-accent);
  stroke-width: 2;
  margin-right: 0.25em;
}

.punch-list__comment {
  line-height: 1.418;
}

/* ----- Page Selector ----- */

.page-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-selector__button {
  background-color: var(--button-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.page-selector__button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.page-selector__button > svg {
  fill: none;
  stroke: var(--button-text-color);
  width: 100%;
  height: 100%;
}

.page-selector__progress-bar {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 5px;
  width: 100px;
  border-radius: calc(90px * var(--roundness));
  background-color: var(--button-color);
}

.page-selector__progress-bar__inner {
  background-color: var(--color-blue);
  border-radius: calc(90px * var(--roundness));
}

.page-selector__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
}

.page-selector__label {
  text-align: center;
  margin-bottom: 0.3em;
}

/* -------- Details Table -------- */

.detailsTable {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.detailsTable__item {
  display: table-row;
  padding-top: 0.75em;
}

.detailsTable__item:not(:first-child) {
  border-top: 1px solid var(--border-color);
}

.detailsTable__itemLabel {
  display: table-cell;
  font-weight: bold;
  padding-bottom: 0.25em;
  white-space: nowrap;
  vertical-align: middle;
}

.detailsTable__itemContent {
  padding-bottom: 0.75em;
  font-weight: normal;
}

@media (min-width: 800px) {
  .detailsTable {
    display: table;
  }

  .detailsTable__item {
    position: relative;
    flex-direction: row;
  }

  .detailsTable__item:not(:first-child):after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--border-color);
  }

  .detailsTable__itemLabel {
    width: 8em;
    text-align: right;
    padding-right: 1.5em;
    padding-bottom: 0;
  }

  .detailsTable__itemContent {
    padding-top: 0.75em;
  }
}

/*====================================*\
||             Navigation             ||
\*====================================*/

/* ----- Nav Header ----- */

.nav-header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-header__back-icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: var(--page-padding);
}

.nav-header__back-icon svg {
  width: 40px;
  height: 40px;
  stroke: var(--text-color);
  stroke-width: 1.2;
  fill: none; /* The arrowhead shows up solid in light mode without this */
}

.nav-header h1 {
  font-size: 1.9em;
}

/* ----- Nav Sidebar ----- */

.nav-sidebar {
  display: none;
}

@media (min-width: 800px) {
  .nav-sidebar {
    display: block;
    min-width: 200px;
    padding: 0 0 0 1em;
  }
}

/* ----- Menu ----- */

.sidebar-menu {
  padding-top: 4.1em;
  position: sticky;
  top: 0;
  left: 0;
}

.sidebar-menu ul {
}

.sidebar-menu ul li {
}

.sidebar-menu ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 36px;
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  /* font-weight: bold; */
}

.sidebar-menu .menu-item__disclosure {
  stroke: var(--border-color);
  fill: none;
  width: 30px;
  height: 30px;
  justify-self: flex-end;
}

/* ----- Nav Breadcrumbs ----- */

.nav-breadcrumbs {
  display: flex;
  align-items: center;
}

.nav-breadcrumbs > a {
}

.nav-breadcrumbs > .divider {
  padding: 0 0.5em;
}

.nav-breadcrumbs > .divider:after {
  content: "/";
  color: var(--color-border);
}

@media (min-width: 800px) {
  .nav-breadcrumbs > a:first-child {
    display: none;
  }

  .nav-breadcrumbs > .divider:first-of-type {
    display: none;
  }
}

/*====================================*\
||            Auth - Login            ||
\*====================================*/

.page.login {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1em;
}

.login-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.login-container h1 {
  margin-bottom: 0.5em;
}

.login-password-field {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.login-password-field .text-input {
  border-top-left-radius: calc(5px * var(--roundness));
  border-bottom-left-radius: calc(5px * var(--roundness));
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.login-password-field .login-button {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button-color);
  color: var(--button-text-color);
  line-height: 40px;
  outline: none;
  border: none;
  border-top-right-radius: calc(5px * var(--roundness));
  border-bottom-right-radius: calc(5px * var(--roundness));
  margin-left: 2px;
  margin-top: 0.5em;
  cursor: pointer;
}

/*====================================*\
||              Menu Page             ||
\*====================================*/

.page.menu {
  /* border-top: 7px solid var(--color-blue); */
  /* padding-top: 1em; */
}

/* ----- Menu ----- */

.main-menu {
  /* padding-top: 1em; */
}

.main-menu ul {
}

.main-menu ul li {
}

.main-menu ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  text-decoration: none;
  font-size: 2em;
  line-height: 2em;
  font-weight: bold;
}

.main-menu .menu-item__icon {
  stroke: var(--text-color);
  fill: none;
  width: 50px;
  height: 50px;
  margin-right: 0.4em;
}

.main-menu .menu-item__disclosure {
  stroke: var(--border-color);
  fill: none;
  width: 50px;
  height: 50px;
  justify-self: flex-end;
}

/*====================================*\
||              Dashboard             ||
\*====================================*/

.dashboard {
  margin: 0 auto;
}

.dashboard .active-punches {
}

.dashboard .active-punches li {
  margin-bottom: 1.5em;
}

.dashboard .clock-header {
  display: flex;
  flex-flow: column;
  padding: 2em var(--container-padding) 3em;
}

.dashboard .clock-header__date {
  font-size: 2.3em;
  font-weight: bold;
}

.dashboard .clock-header__time {
  font-size: 3em;
  font-weight: lighter;
  /* text-align: right; */
}

.dashboard .no-active-punches {
  /* color: var(--color-gray); */
  display: block;
  margin-bottom: 1.5em;
}

@media (min-width: 800px) {
  .dashboard .clock-header__time {
    text-align: right;
  }
}

/* ----- Section Summary ----- */

.section-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
}

.section-summary--small {
  font-size: 1.6em;
}

.section-summary__duration {
  font-weight: bold;
}

.section-summary__earnings {
  font-weight: normal;
}

/*====================================*\
||              Projects              ||
\*====================================*/

.projects-index__list > li {
  margin-bottom: 0.5em;
}

.project-show__recent-actions {
  margin-top: 1.2em;
}

/*====================================*\
||               Clients              ||
\*====================================*/

.clients-index__list > li {
  margin-bottom: 0.5em;
}

.clients-show__projects > li {
  margin-bottom: 0.5em;
}

/*====================================*\
||                Log                 ||
\*====================================*/

.log__toolbar {
  position: sticky;
  top: 42px;
  height: 32px;
  background-color: var(--content-background-color);

  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 var(--container-padding);

  border: 1px solid var(--border-color);
  margin-bottom: 1em;
}

.log__toolbar-item:not(:last-child) {
  margin-right: 0.5em;
}

.log-tags__tag-list > li {
  line-height: 26px;
}

.log__filter-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  padding: 0.5em var(--container-padding);
}

.log__filter-bar-status {
  display: flex;
  align-items: flex-start;
}

.log__filter-bar-section {
}

.log__filter-bar-section > span {
  font-weight: bold;
}

.log__filter-bar-section:not(:last-child) {
  margin-right: 1em;
}

/*====================================*\
||              Invoices              ||
\*====================================*/

/*====================================*\
||               Config               ||
\*====================================*/

/*====================================*\
||            Punch - Show            ||
\*====================================*/

.punch-show {
}

.punch-show__label--faded {
  color: var(--text-color);
}

.punch-show__summary {
  display: flex;
  justify-content: space-between;
}

.punch-show__comments {
  margin-bottom: 1.2em;
}

.punch-show__comment {
  /* margin-bottom: 1em; */
  display: flex;
  flex-flow: column nowrap;
}

.punch-show__comment-timestamp {
  display: flex;
  align-items: center;
  /* color: var(--color-gray); */
}

.punch-show__time-icon {
  width: 1em;
  height: 1em;
  fill: none;
  stroke: var(--project-accent);
  stroke-width: 2;
  margin-right: 4px;
}

.punch-show__comment-text {
  position: relative;
  line-height: 1.418;
  margin-top: 0.5em;
  background-color: var(--content-background-color);
  border: 1px solid var(--project-accent);
  border-radius: 12px;
  padding: 1em 1em 2em 1em;
}

.punch-show__comment-text > span {
  position: relative;
  z-index: 1;
}

.punch-show__comment-text::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--project-accent);
  opacity: 0.1;
  border-radius: 10px;
  z-index: 0;
}

.punch-show__comment-actions {
  position: relative;
  transform: translateY(-51%);
  margin-right: 1em;
  background-color: var(--content-background-color);
  border: 1px solid var(--project-accent);
  padding: 5px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  max-width: min-content;
  align-self: flex-end;
}

.punch-show__comment-actions > * {
  z-index: 1;
}

.punch-show__comment-actions::after {
  content: "";
  position: absolute;
  top: 51%;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background-color: var(--content-background-color);
}

.punch-show__comment-actions > .button:not(:last-child) {
  margin-right: 4px;
}

.punch-show__add-comment-button {
  /* border: 1px solid orange; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.punch-show__add-comment-button > .button {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*====================================*\
||             Punch In               ||
\*====================================*/

.punch-in__projects-list {
  /* border: 1px solid orange; */
}

.punch-in__projects-list li {
}

.punch-in__projects-list a {
  color: var(--project-accent);
  line-height: 32px;
  text-decoration: none;
  border-bottom: 2px dotted var(--project-accent);
}

.punch-in__projects-list a.-disabled {
  text-decoration: line-through;
  pointer-events: none;
  border-bottom: none;
}

.punch-in__active-badge {
  background-color: var(--project-accent);
  color: #fff;
  padding: 0.25em 0.5em;
  font-size: 0.9em;
  border-radius: 6px;
  margin-left: 0.5em;
}

/*====================================*\
||         Punch In - Confirm         ||
\*====================================*/

.punch-in-confirm form header {
  margin-bottom: 1em;
}

.punch-in-confirm__project-title {
  font-weight: bold;
  color: var(--project-accent);
}

.punch-in-confirm__datetime-picker {
  padding: 0.5em 0;
  margin-bottom: 1em;
}

.punch-in-confirm__datetime-picker > label {
  padding: 0.5em 0;
}

.punch-in-confirm__use-now {
}

.punch-in-confirm__datetime-input {
  margin-top: 0.5em;
}

.punch-in-confirm__use-now:checked + .punch-in-confirm__datetime-input {
  display: none;
}

/*====================================*\
||             Punch Out              ||
\*====================================*/

.punch-out form header {
  margin-bottom: 1em;
}

.punch-out form header > h2 {
}
