<h1>Projects</h1>

<ul>
  {{#each projects}}
    <li><a href="/projects/{{alias}}">{{name}}</a></li>
  {{/each}}
</ul>

<h2>Notes</h2>

<h3>What goes on this page</h3>
<ul>
  <li>List of all projects (active projects marked or at top)</li>
  <li>A way to add a new project</li>
</ul>