{{> ui/nav-tabs selected="projects" }}

<div class="projects-index page">
  <div class="container">
    <section>
      <header>
        <h1>Projects</h1>
      </header>

      <ul class="projects-index__list unstyled">
        {{#each projects}}
          <li>{{> project-link . }}</li>
        {{/each}}
      </ul>
    </section>
  </div>
</div>

